.descriptionContainer > .descripcion{
    transition: all 0.5s linear 1s;
    -moz-transition: all 0.5s linear 1s;
    -webkit-transition: all 0.5s linear 1s;
    -o-transition: all 0.5s linear 1s;
    /*animation:descripcion1 2s;
    -moz-animation:descripcion1 2s;
    -webkit-animation:descripcion1 2s;
    -o-animation:descripcion1 2s;*/
}
#slide_ppal.hover .item .descripcion{
    transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    background-color: rgba(0, 0, 0, 0.7) !important;
}
#slide_ppal.hover .item .descriptionContainer{
    transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    bottom: 0px;
}
.descriptionContainer > .descripcionHide{
    opacity: 0 !important;
    width: 0px !important;
    height: 0px !important;
}
.slide_ppal_hide{
    transition-property:  all;
    transition-duration: 1s;
    -moz-transition-property:  all;
    -moz-transition-duration: 1s;
    -webkit-transition-property:  all;
    -webkit-transition-duration: 1s;
    -o-transition-property:  all;
    -o-transition-duration: 1s;
    height: 0px !important;
    opacity: 0;
}
/*@keyframes descripcion1
{
    from {width: 0px; height: 0px; opacity: 0;}
to {width: 400px; height: 450px; opacity: 1;}
}
@-moz-keyframes descripcion1
{
    from {width: 0px; height: 0px; opacity: 0;}
to {width: 400px; height: 450px; opacity: 1;}
}
@-webkit-keyframes descripcion1
{
    from {width: 0px; height: 0px; opacity: 0;}
to {width: 400px; height: 450px; opacity: 1;}
}
@-o-keyframes descripcion1
{
    from {width: 0px; height: 0px; opacity: 0;}
to {width: 400px; height: 450px; opacity: 1;}
}*/
.btnnav{
    border-radius: 35px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 150px;
    position: absolute;
    z-index: 1000;
}
.btnnav span{
    position: absolute;
    transform: scale(1.4);
    top: 5px;
    left: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    opacity: 0.6;
}
.btnnav:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.btnnav:hover span{
    opacity: 0.8;
}
#prev2{
    left: 10px;
}
#next2{
    right: 10px;
}
#next2 span{
    left: 25px;
}
span:hover{
    text-decoration: none;
}
.leermasSp{
    position: absolute;
    right: 0px;
    top: 30px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #fff;
    padding: 0px;
    cursor: pointer;
    font-size: 1em;
    overflow: hidden;
    transition: all 0.5s linear 1s;
    -moz-transition: all 0.5s linear 1s;
    -webkit-transition: all 0.5s linear 1s;
    -o-transition: all 0.5s linear 1s;
}
#slide_ppal.hover .item .descriptionContainer .leermasSp{
    transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    top: 0px;
    height: 20px;
    padding: 5px 5px 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.noticias_inicio{
    margin-left: 10px;
    float: left;
    width: 560px;
    background-color: #FFF;
    margin-bottom: 20px;
    border: 1px solid #999999;
}
.noticias_inicio p{
    margin: 0px;
    padding: 0px;
}
.noticias_inicio td{
    padding-left: 10px;
    padding-right: 10px;
}
.noticias_inicio .title a{
    color: #333333;
    font-family: Gudea !important;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
}
.noticias_inicio .title a:hover{
    text-decoration: none;
    color: #F00;
    text-shadow: 1px 1px 1px #999999;
}
.noticias_inicio .first{
    text-align: right;
    font-size: 13px;
}
.noticias_inicio .bottom{
    text-align: right;
    font-size: 13px;
}

/* OLD
.noticias_inicio .der{
    width: 3px;
    height: 273px;
    float: left;
    background-image: url(../images/fondo_noticia_inicio_1.png);
    background-repeat: no-repeat;
}
.noticias_inicio .med{
    width: 554px;
    height: 273px;
    float: left;
}
.noticias_inicio .izq{
    width: 3px;
    height: 273px;
    float: left;
    background-image: url(../images/fondo_noticia_inicio_3.png);
    background-repeat: no-repeat;
}
.noticias_inicio .fecha{
    background-image: url(../images/fondo_noticia_inicio_fecha.png);
    background-repeat: no-repeat;
    height: 54px;
    width: 101px;
    margin-top: 20px;
    margin-left: -12px;
    font-size: 14px;
    font-weight: bold;
    overflow:hidden;
    text-align: center;
    padding-top: 4px;
    float: left;
}
.noticias_inicio .fecha a{
    color: #000;
    text-decoration: none;
}
.noticias_inicio .fecha a:hover{
    color: #F00;
    text-decoration: underline;
}
.noticias_inicio .fecha2{
    background-image: repeating-linear-gradient(#FFFF00, #FFB900);
    background-repeat: no-repeat;
    height: 40px;
    width: 101px;
    margin-top: 20px;
    margin-left: -12px;
    font-size: 14px;
    font-weight: bold;
    overflow:hidden;
    text-align: center;
    padding-top: 4px;
    float: left;
    border-radius: 6px 6px 6px 0px;
    box-shadow: 1px 1px 3px #666;
}
.noticias_inicio .fecha2 a{
    color: #000;
    text-decoration: none;
}
.noticias_inicio .fecha2 a:hover{
    color: #F00;
    text-decoration: underline;
}
.noticias_inicio .titulo{
    width: 430px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    overflow:hidden;
    text-align: justify;
    line-height: 20px;
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.noticias_inicio .titulo a{
    font-family: Gudea !important;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}
.noticias_inicio .titulo a:hover{
    text-decoration: none;
    color: #F00;
    text-shadow: 1px 1px 1px #999999;
}
.noticias_inicio .linea{
    background-image: url(../images/linea_noticia_inicio_titulo.png);
    background-repeat: no-repeat;
    height: 3px;
    width: 445px;
    float: left;
    margin-left: 101px;
    margin-top: 5px;
}
.noticias_inicio .foto{
    height: 175px;
    width: 175px;
    float: left;
    margin-top: 5px;
    margin-left: 7px;
    text-align: center;
    padding-top: 5px;
}
.noticias_inicio .foto img{
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #999999;
    max-height: 170px;
    max-width: 170px;
}
.noticias_inicio .categoria{
    font-size: 14px;
    float: left;
    width: 340px;
    margin-left: 10px;
    margin-top: 15px;
}
.noticias_inicio .categoria a{
    color: #06F;
    text-decoration: none;
}
.noticias_inicio .categoria a:hover{
    color: #F00;
    text-decoration: underline;
}
.noticias_inicio .descripcion{
    font-size: 14px;
    float: left;
    width: 340px;
    margin-left: 10px;
    margin-top: 15px;
    overflow:hidden;
    text-align: justify;
    max-height: 100px;
    text-overflow: ellipsis;
}
.noticias_inicio .leermas{
    background-image: url(../images/fondo_noticia_inicio_leermas.png);
    height: 32px;
    width: 89px;
    background-repeat: no-repeat;
    margin-top: 250px;
    margin-left: 465px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
}
.noticias_inicio .leermas a{
    color: #000;
    text-decoration: none;
}
.noticias_inicio .leermas a:hover{
    color: #F00;
    text-decoration: none;
}
*/